html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

p, h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(138,192,219);
    background: radial-gradient(circle, rgba(138,192,219,1) 16%, rgba(242,221,241,1) 62%); 
}

.sliderContainer, .colorSelector {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: large;
    /* margin: 10px; */
    padding: 10px;
}

.colorSelector p {
    padding: 12px;
}

.colorSelector {
    align-items: center;
    margin: 12px 0;
}

.colorSelector input {
    width: 100%;

}

#tiles {
    background-color: white;
    width: 500px;
    height: 500px;
    border: rgb(224, 60, 211) solid 3px;
    display: grid;
    /* THIS WILL BE DEFINED IN JS grid-template-columns: repeat(2, 1fr); */
    grid-gap: 0px;
}

.tileTeste {
    background-color: white;
    text-align: center;
    transition:ease-in-out;
}

footer, header {
    background-color: rgba(212, 130, 196, 0.233);
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    width: 100%;
    padding: 12px 0;
    font-size: larger;
    text-align: center;
}

